.container {
  display: grid;
  align-items: center;
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .registerForm {
    max-width: 400px;
    border-top: 5px solid var(--primary-500);
  }

  .title {
    text-align: center;
  }
  .text {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }
  .formBtn {
    margin-top: 1rem;
  }
  .memberBtn {
    background: transparent;
    border: transparent;
    color: var(--primary-500);
    cursor: pointer;
    letter-spacing: var(--letterSpacing);
  }
}
