.container {
  .form {
    width: 100%;
    max-width: 100%;
  }
  .formInput,
  .formSelect,
  .btnClear {
    height: 35px;
  }
  .formRow {
    margin-bottom: 0;
  }
  .formCenter {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 0.5rem;
  }
  .btnClear,
  .btnSearch {
    align-self: end;
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    .formCenter {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 992px) {
    .formCenter {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .btnClear,
    .btnSearch {
      margin-top: 0;
    }
  }
}
